
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/image/about1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h1 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Giới thiệu</h1>
                </div>
                <p>BookSaw là một nền tảng bán sách trực tuyến độc đáo và đa dạng, được tạo ra để mang lại trải nghiệm 
                đọc sách tuyệt vời cho mọi độc giả. Với một bộ sưu tập đa dạng các thể loại từ tiểu thuyết, khoa học, 
                đến tự truyện và nghệ thuật, BookSaw không chỉ là nơi để mua sách mà còn là một cộng đồng năng động nơi 
                mọi người có thể chia sẻ ý kiến, đánh giá và khám phá tác phẩm mới.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h1 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Vì sao chọn chúng tôi?</h1>
                </div>
                <p>
                    Việc chọn sử dụng BookSaw không chỉ là việc chọn một trang web mua sách, mà là một quyết định quan trọng trong 
                    hành trình đọc sách của bạn.
                </p>

                <p>
                    BookSaw không chỉ cung cấp một bộ sưu tập đa dạng với hàng ngàn tựa sách, mà còn là điểm hội tụ của những đam 
                    mê sách.
                </p>
                <p>
                    Giao diện thân thiện, tính năng tìm kiếm thông minh và khả năng tương tác cao với cộng đồng độc giả giúp việc 
                    khám phá sách trở nên thú vị hơn bao giờ hết.
                </p>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/image/about2.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<!-- Testimonial Start -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Liên hệ với chúng tôi</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <img class="img-fluid mx-auto mb-3" style="width:370px" src="~/image/about3.jpg" alt="">
                    <h4 class="font-weight-normal mb-4">
                        Nếu bạn cần sự hỗ trợ hoặc muốn chia sẻ ý kiến, đừng ngần ngại liên hệ với chúng tôi tại BookSaw. 
                        Đội ngũ hỗ trợ của chúng tôi luôn sẵn lòng lắng nghe mọi ý kiến đóng góp, phản hồi, hoặc giải đáp 
                        mọi thắc mắc của bạn. Bạn có thể gửi email đến địa chỉ support@booksaw.com hoặc sử dụng biểu mẫu 
                        liên hệ trực tuyến trên trang web của chúng tôi. Hãy để chúng tôi biết làm thế nào chúng tôi có 
                        thể hỗ trợ bạn và cùng nhau tạo nên một cộng đồng đam mê sách đầy sôi động trên BookSaw.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

